@using Clean_Architecture.Application.Services.DisCounts.Queries.GetDisCount;
@model List<DiscountDto>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";

}



<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست کد تخفیف ها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text"></p>

                                <form method="get" class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                    <fieldset class="form-group">
                                        <input type="text" class="form-control" name="SearchKey">
                                        <button class="btn btn-success">جستجو</button>
                                    </fieldset>
                                </form>

                                <button onclick="ShowModalNew()" class="btn btn-success">افزودن کد تخفیف</button>


                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">کد تخفیف</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 401px;">درصد تخفیف</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @foreach (var item in Model)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@item.DisCountCode</td>
                                                        <td class="sorting_1">@item.Percent %</td>

                                                        <td>
                                                            <button class="btn btn-light-blue" onclick="Edit('@item.Id','@item.DisCountCode','@item.Percent')">ویرایش</button>

                                                            <button class="btn btn-danger" onclick="Delete('@item.Id')">حذف</button>
                                                            @if (item.IsActive)
                                                            {
                                                                <button class="btn btn-warning" onclick="StatusChange('@item.Id','False')">غیر فعال</button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-success" onclick="StatusChange('@item.Id','True')"> فعال</button>
                                                            }

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش 1 تا 10 از 57 سطرها</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="7" tabindex="0" class="page-link">بعدی</a></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>





@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>



    <script>


        function Delete(Id) {

            var postData = {
                'Id': Id,
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Delete",
                data: postData,
                success: function (data) {
                    if (data.isSeccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditDiscount').modal('hide');



        }

        //////////////////////////////////////////////

        function StatusChange(Id,Status) {

            var Id = Id;
            var status = Status;

            var postData = {
                'Id': Id,
                'Status': status,
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "StatusChange",
                data: postData,
                success: function (data) {
                    if (data.isSeccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditDiscount').modal('hide');



        }

        //////////////////////////////////////////////

        function Edit(Id, discountCode, precent) {
            $('#Edit_Id').val(Id)
            $('#Edit_Code').val(discountCode)
            $('#Edit_precent').val(precent)

            $('#EditDiscount').modal('show');
        }

        function EditDiscount() {

            var Id = $("#Edit_Id").val();
            var DisCountCode = $("#Edit_Code").val();
            var Percent = $("#Edit_precent").val();

            var postData = {
                'Id': Id,
                'DisCountCode': DisCountCode,
                'Percent': Percent,
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSeccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditDiscount').modal('hide');



        }



        ////////////////////////////////////////////////



        function ShowModalNew() {
            $('#AddNewDisCount').modal('show');
        }

        function AddDisCount() {

            var DisCountCode = $("#DisCountCode").val();
            var Percent = $("#precent").val();

            var postData = {
                'DisCountCode': DisCountCode,
                'Percent': Percent,
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Add",
                data: postData,
                success: function (data) {
                    if (data.isSeccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#AddNewDisCount').modal('hide');

        }



    </script>
}





@section Modals
{

    <!-- Modal Edit -->
    <div class="modal fade" id="EditDiscount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ویرایش کد نخفیف</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">
                            <input type="hidden" id="Edit_Id" />

                            <label for="basicInput">کد تخفیف</label>
                            <input  type="text" class="form-control" id="Edit_Code">

                            <label for="basicInput">درصد تخفیف</label>
                            <input type="text" class="form-control" id="Edit_precent">


                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                    <a class="btn btn-primary" onclick="EditDiscount()">اعمال تغییرات</a>
                </div>
            </div>
        </div>
    </div>


@*/////////////////////////*@

    <!-- Modal Add  -->
    <div class="modal fade" id="AddNewDisCount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">کد تخفیف جدید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                        <fieldset class="form-group">

                            <label for="basicInput">کد تخفیف</label>
                            <input  type="text" class="form-control" id="DisCountCode">

                            <label for="basicInput">درصد تخفیف</label>
                            <input type="text" class="form-control" id="precent">


                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                    <a class="btn btn-primary" onclick="AddDisCount()">ذخیره کد تخفیف</a>
                </div>
            </div>
        </div>
    </div>
}